.header {
    background-color: #F7F7F8;
    border-bottom: 2px solid #D1EEF1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    width: 100%;
    height: fit-content; 
    position: sticky;
    top: 0;
    z-index: 1000; 
    padding: 10px;
}

.profile-content{
    display: flex;
    gap: 15px;
}

.profile-content img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.cash h3{
    color: #b4b4b4;
    font-size: 15px;
}

.cash span{
    font-size: 30px;
    font-weight: bold;
}