nav {
    background-color: #D2E3E5;
    /* mesmo tom usado no header */
    border-top: 2px solid #00BFA6;
    /* verde turquesa vibrante para destaque */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    position: sticky;
    bottom: 0;
    padding: 20px 5px;
    z-index: 1000;
}

.icons {
    height: 30px;
    filter: brightness(0) saturate(100%) invert(15%) sepia(22%) saturate(2000%) hue-rotate(160deg) brightness(90%) contrast(90%);
    /* esse filtro aplica uma tonalidade escura azulada nos ícones claros */
    transition: transform 0.2s ease;
}

.icons:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.location {
    border: none;
    background-color: transparent;
}